footer {
  text-align: center;
  padding-top: 5rem;
}

.footer-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--nd-spacing-md);
  text-shadow: -70px 1px 80px var(--nd-colors-accent);
  flex-wrap: wrap;
}

.footer-header .app-name {
  font-size: var(--nd-font-sizes-h1);
  font-weight: var(--nd-font-weight-h1);
  color: var(--nd-colors-accent);
}

.footer-body {
  padding: var(--nd-spacing-lg) 0;
}

.footer-footer {
  flex-direction: column;
}

.heart-symbol {
  color: red;
}
