.why-section {
  padding-top: var(--nd-miscellaneous-section-separator);
  backdrop-filter: brightness(1.05);
  width: 100%;
}

.why-section hr {
  border-width: var(--nd-border-width-sm);
  border-color: var(--nd-colors-accent);
  border-style: solid;
  width: 40%;
  border-radius: var(--nd-border-radius-lg);
}

.why-section > .content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--nd-spacing-md);
  text-align: center;
  font-size: var(--nd-font-sizes-base);
  padding: var(--nd-spacing-xl) var(--nd-spacing-sm);
}

.why-section h2 {
  font-size: var(--nd-font-sizes-h2);
  text-transform: capitalize;
}

.why-section h2 span {
  color: var(--nd-colors-accent);
}

.why-section .why-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--nd-spacing-lg);
  flex-wrap: wrap;
  margin-top: var(--nd-spacing-md);
}

.why-content .why-card:nth-child(odd) {
  margin-right: var(--nd-spacing-xl);
}

.why-content .why-card:nth-child(even) {
  margin-left: var(--nd-spacing-xl);
}

@media screen and (min-width: 768px) {
  .why-section > .content-box {
    padding: var(--nd-spacing-xl) var(--nd-spacing-md);
  }

  .why-content .why-card:nth-child(odd) {
    margin-right: var(--nd-miscellaneous-section-separator);
  }

  .why-content .why-card:nth-child(even) {
    margin-left: var(--nd-miscellaneous-section-separator);
  }
}
