.about {
  overflow: hidden;
}

.about .content-box {
  position: relative;
}

.about-intro {
  margin: 3rem 0;
  animation: fadeIn 1s ease;
}

.about .background-art {
  opacity: 0.2;
  z-index: -1;
}

.about-intro .content-box {
  display: flex;
  gap: var(--nd-spacing-lg);
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: var(--nd-spacing-xl) auto;
  flex-wrap: wrap-reverse;
  padding: var(--nd-spacing-md);
  z-index: 2;
  position: relative;
}

.about-intro .content-box img {
  width: 100%;
  height: auto;
  border-radius: var(--nd-border-radius-lg);
  min-width: 300px;
  max-width: 500px;
}

.about .content-box section {
  padding: var(--nd-spacing-md);
}

.about-intro .content-box .about-intro-content {
  width: 100%;
  min-width: 500px;
  max-width: 860px;
}

.about-intro .content-box .about-intro-content h1 {
  font-size: 4.5rem;
  margin-bottom: var(--nd-spacing-md);
  border-bottom: var(--nd-border-width-md) solid var(--nd-colors-border);
}

.about-intro .content-box .about-intro-content p {
  font-size: var(--nd-font-sizes-base);
  border-left: var(--nd-border-width-lg) solid var(--nd-colors-accent);
  padding: var(--nd-spacing-md);
  padding-right: 0;
}

.about-intro .content-box .about-intro-content h1 span,
.about h2 span {
  color: var(--nd-colors-accent);
}

@media screen and (max-width: 768px) {
  .about-intro .content-box {
    flex-direction: column-reverse;
    padding: var(--nd-spacing-sm);
  }

  .about .content-box section {
    padding: var(--nd-spacing-sm);
  }

  .about-intro .content-box img {
    width: 100%;
    min-width: unset;
  }

  .about-intro .content-box .about-intro-content {
    width: 100%;
    min-width: unset;
    text-align: justify;
  }

  .about-intro .content-box .about-intro-content h1 {
    font-size: 3rem;
    text-align: left;
  }
}
