.why-section .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--nd-spacing-lg);
  flex-wrap: wrap;
  margin-top: var(--nd-spacing-md);
}

.why-section .main-content .why-card:nth-child(odd) {
  margin-right: var(--nd-spacing-xl);
}

.why-section .main-content .why-card:nth-child(even) {
  margin-left: var(--nd-spacing-xl);
}

@media screen and (min-width: 768px) {
  .why-section .main-content .why-card:nth-child(odd) {
    margin-right: var(--nd-miscellaneous-section-separator);
  }

  .why-section .main-content .why-card:nth-child(even) {
    margin-left: var(--nd-miscellaneous-section-separator);
  }
}
