@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 0 var(--nd-colors-accent);
    color: var(--nd-colors-accent);
    text-shadow: 0px 0px 10px var(--nd-colors-accent);
  }
  50% {
    color: var(--nd-colors-text-muted);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 45px var(--nd-colors-accent);
  }
}

.circle-container {
  position: relative;
  min-width: 18vw;
  min-height: 18vw;
  max-width: 18vw;
  max-height: 18vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--nd-border-width-md) solid var(--nd-colors-border);
  animation: pulse 3s ease-in-out infinite;
  border-radius: 100%;
  will-change: box-shadow, color;
}

.circle-container:nth-child(odd),
.circle-container:nth-child(odd) .circle {
  animation-delay: 1.5s;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: var(--nd-border-width-md);
  border-style: solid;
  border-color: transparent transparent var(--nd-colors-accent)
    var(--nd-colors-accent);
  animation: rotate 6s linear infinite;
  will-change: transform;
}

.circle-text {
  font-size: 2.8vw;
  text-align: center;
}

@media screen and (min-width: 1444px) {
  .circle-container {
    min-width: 265px;
    min-height: 265px;
    max-width: 265px;
    max-height: 265px;
  }
  .circle-text {
    font-size: var(--nd-font-sizes-h2);
  }
}
