/* Container Styling */
.ripple-background {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  right: 0%;
  bottom: 0;
  max-width: 800px;
  width: 100%;
}

/* Ripple Styling */
.ripple-background .ripple {
  position: absolute;
  border-radius: 50%;
  background-color: var(--nd-colors-accent);
  width: 40px;
  height: 40px;
  opacity: 0;
  animation: ripple-animation 8s ease-in-out infinite;
}

/* Ripple Animation */
@keyframes ripple-animation {
  0% {
    transform: scale(0);
    opacity: 0.1;
  }
  100% {
    transform: scale(15);
    opacity: 0;
  }
}

/* Staggered Animation Delays for Each Ripple */
.ripple-background .ripple:nth-child(1) {
  animation-delay: 0s;
}
.ripple-background .ripple:nth-child(2) {
  animation-delay: 1.5s;
}
.ripple-background .ripple:nth-child(3) {
  animation-delay: 3s;
}

.ripple-background .ripple:nth-child(4) {
  animation-delay: 4.5s;
}
.ripple-background .ripple:nth-child(5) {
  animation-delay: 6s;
}
.ripple-background .ripple:nth-child(6) {
  animation-delay: 7.5s;
}
