.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--nd-spacing-md);
  flex-wrap: wrap;
}

.social-links > a {
  font-size: var(--nd-font-sizes-h1) !important;
  padding: 0 !important;
}

.social-links > a:hover {
  transform: scale(1.2);
}
